{
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.{md,mdx,json,yml,yaml,prettierrc,eslintrc}",
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
